@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 97%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 212 92% 33%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 10% 97%;
    --secondary-foreground: 240 25% 22%;
    --muted: 240 10% 97%;
    --muted-foreground: 240 5% 65%;
    --accent: 240 15% 90%;
    --accent-foreground: 240 25% 22%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 10% 90%;
    --input: 240 10% 90%;
    --ring: 212 92% 33%;
    --chart-1: 210 80% 55%;
    --chart-2: 180 70% 45%;
    --chart-3: 220 50% 65%;
    --chart-4: 200 75% 50%;
    --chart-5: 230 60% 70%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 25% 22%;
    --foreground: 210 40% 98%;
    --card: 240 25% 22%;
    --card-foreground: 210 40% 98%;
    --popover: 240 25% 22%;
    --popover-foreground: 210 40% 98%;
    --primary: 212 92% 33%;
    --primary-foreground: 210 40% 98%;
    --secondary: 240 15% 30%;
    --secondary-foreground: 210 40% 98%;
    --muted: 240 15% 30%;
    --muted-foreground: 240 5% 65%;
    --accent: 240 15% 30%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 210 40% 98%;
    --border: 240 15% 30%;
    --input: 240 15% 30%;
    --ring: 212 92% 33%;
    --chart-1: 210 80% 55%;
    --chart-2: 180 70% 45%;
    --chart-3: 220 50% 65%;
    --chart-4: 200 75% 50%;
    --chart-5: 230 60% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
